# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Instance folder (SQLite DB or config)
instance/
*.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Temporary files
tempCodeRunnerFile.py
